<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Create Ticket</title>
<link rel="stylesheet" type="text/css" href="/static/css/view.css" media="all">
<script type="text/javascript" src="/static/js/view.js"></script>
<script type="text/javascript" src="/static/js/calendar.js"></script>
</head>
<body id="main_body" >
	
	<img id="top" src="/static/images/sculogo.png" alt="">
	<div id="form_container">
	
		<h1><a>Create Ticket</a></h1>
		<form id="form_3928" class="appnitro"  method="post" action="">
					<div class="form_description">
			<h2>Create Ticket</h2>
			<p></p>
		</div>						
			<ul >
			
					<li id="li_1" >
		<label class="description" for="element_1">CreatedBy </label>
		<span>
			<input id="element_1_1" name= "element_1_1" class="element text" maxlength="255" size="8" value=""/>
			<label>First</label>
		</span>
		<span>
			<input id="element_1_2" name= "element_1_2" class="element text" maxlength="255" size="14" value=""/>
			<label>Last</label>
		</span> 
		</li>		<li id="li_2" >
		<label class="description" for="element_2">Email </label>
		<div>
			<input id="element_2" name="element_2" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_3" >
		<label class="description" for="element_3">Phone </label>
		<span>
			<input id="element_3_1" name="element_3_1" class="element text" size="3" maxlength="3" value="" type="text"> -
			<label for="element_3_1">(###)</label>
		</span>
		<span>
			<input id="element_3_2" name="element_3_2" class="element text" size="3" maxlength="3" value="" type="text"> -
			<label for="element_3_2">###</label>
		</span>
		<span>
	 		<input id="element_3_3" name="element_3_3" class="element text" size="4" maxlength="4" value="" type="text">
			<label for="element_3_3">####</label>
		</span>
		 
		</li>		<li id="li_8" >
		<label class="description" for="element_8">Category
 </label>
		<div>
		<select class="element select medium" id="element_8" name="element_8"> 
			<option value="" selected="selected"></option>
<option value="1" >Appointment</option>
<option value="2" >ReducedCourseLoad</option>
<option value="3" >VisaStatusChange</option>
<option value="4" >LetterForSSN</option>
<option value="5" >StemExtension</option>
<option value="6" >Others</option>

		</select>
		</div> 
		</li>		<li id="li_9" >
		<label class="description" for="element_9">Sub Category </label>
		<div>
		<select class="element select medium" id="element_9" name="element_9"> 
			<option value="" selected="selected"></option>
<option value="1" >OPT</option>
<option value="2" >CPT</option>
<option value="3" >Other</option>

		</select>
		</div> 
		</li>		<li id="li_4" >
		<label class="description" for="element_4">Date </label>
		<span>
			<input id="element_4_1" name="element_4_1" class="element text" size="2" maxlength="2" value="" type="text"> /
			<label for="element_4_1">MM</label>
		</span>
		<span>
			<input id="element_4_2" name="element_4_2" class="element text" size="2" maxlength="2" value="" type="text"> /
			<label for="element_4_2">DD</label>
		</span>
		<span>
	 		<input id="element_4_3" name="element_4_3" class="element text" size="4" maxlength="4" value="" type="text">
			<label for="element_4_3">YYYY</label>
		</span>
	
		<span id="calendar_4">
			<img id="cal_img_4" class="datepicker" src="calendar.gif" alt="Pick a date.">	
		</span>
		<script type="text/javascript">
			Calendar.setup({
			inputField	 : "element_4_3",
			baseField    : "element_4",
			displayArea  : "calendar_4",
			button		 : "cal_img_4",
			ifFormat	 : "%B %e, %Y",
			onSelect	 : selectDate
			});
		</script>
		 
		</li>		<li id="li_5" >
		<label class="description" for="element_5">Time </label>
		<span>
			<input id="element_5_1" name="element_5_1" class="element text " size="2" type="text" maxlength="2" value=""/> : 
			<label>HH</label>
		</span>
		<span>
			<input id="element_5_2" name="element_5_2" class="element text " size="2" type="text" maxlength="2" value=""/> : 
			<label>MM</label>
		</span>
		<span>
			<input id="element_5_3" name="element_5_3" class="element text " size="2" type="text" maxlength="2" value=""/>
			<label>SS</label>
		</span>
		<span>
			<select class="element select" style="width:4em" id="element_5_4" name="element_5_4">
				<option value="AM" >AM</option>
				<option value="PM" >PM</option>
			</select>
			<label>AM/PM</label>
		</span> 
		</li>		<li id="li_10" >
		<label class="description" for="element_10">Priority </label>
		<div>
		<select class="element select medium" id="element_10" name="element_10"> 
			<option value="1" >High</option>
<option value="2" selected="selected">Low</option>
<option value="3" >Medium</option>

		</select>
		</div> 
		</li>		<li id="li_6" >
		<label class="description" for="element_6">Summary </label>
		<div>
			<input id="element_6" name="element_6" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_7" >
		<label class="description" for="element_7">Description </label>
		<div>
			<textarea id="element_7" name="element_7" class="element textarea medium"></textarea> 
		</div> 
		</li>
			
					<li class="buttons">
			    <input type="hidden" name="form_id" value="3928" />
			    
				<input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
		</li>
			</ul>
		</form>	
	</div>
	<img id="bottom" src="bottom.png" alt="">
	</body>
</html>